<div class="bg-secondary">
  <div class="container">
    <h1 class="text-center text-white pt-4 mb-4 mt-0">Note Taking App</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="note bg-{{defaultCategory}}" style="margin-bottom: 3rem">
          <div class="note-header"></div>
            <form #form="ngForm" (ngSubmit)="createNote(form)">
              <div class="note-body">
                <textarea autoGrow class="form-control styleless" placeholder="Make a note" ngModel name="note" required maxlength="500" autofocus></textarea>
              </div>
              <div class="note-footer">
                <select class="form-control styleless" [(ngModel)]="defaultCategory" name="category">
                  <option
                    [attr.value]='0'
                    [attr.selected]="'0' == defaultCategory ? true : null">Select a category
                  </option>
                  <option *ngFor="let category of categories"
                    [attr.value]='category.key'
                    [attr.selected]="'category.key' == defaultCategory ? true : null">{{category.value}}
                  </option>
                </select>
                <div class="float-right">
                  <button class="btn btn-outline-danger" type="button" (click)="resetNote(form)">Reset</button>
                  <button class="btn btn-outline-success ml-2" [disabled]="form.invalid || defaultCategory == '0'" type="submit">Save</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="text-center pt-4 mb-4 mt-0" *ngIf="!notes.length">Your notes will appear here...</h1>
  <div *ngIf="notes.length">
  <h1 class="text-center pt-4 mb-4 mt-0">Your notes</h1>
  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      Sort by:
      <select class="form-control" (change)="sortBy($event.target.value)">
        <option value="keyasc">Key (Ascending)</option>
        <option value="keydesc" selected>Key (Descending)</option>
        <option value="catasc">Category (Ascending)</option>
        <option value="catdesc">Category (Descending)</option>
      </select>
    </div>
  </div>
  <div class="note-columns">
    <div class="note bg-{{note.obj.category}} mb-4" *ngFor="let note of notes">
      <div class="note-header"></div>
        <form #form="ngForm" (ngSubmit)="editNote(note.key, form)">
          <div class="note-body">
            <textarea autoGrow class="form-control styleless" placeholder="Edit note" ngModel="{{note.obj.value}}" name="note" required maxlength="500"></textarea>
          </div>
          <div class="note-footer">
          <select class="form-control styleless" [(ngModel)]="note.obj.category" name="category">
            <option *ngFor="let category of categories"
              [attr.value]='category.key'
              [attr.selected]="category.key == note.obj.category ? true : null">{{category.value}}
            </option>
          </select>
          <div class="float-right">
            <button class="btn btn-outline-danger" type="button" (click)="deleteNote(note)">Delete</button>
            <button class="btn btn-outline-success ml-2" [disabled]="form.invalid" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>      
  </div>
  </div>
</div>