@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Pangolin');

.form-control.styleless { background-color: transparent; border: 0; border-radius: 0; transition: none; padding: 0; margin-bottom: 0 }
.form-control.styleless:focus { background-color: transparent; outline: 0; box-shadow: none }
textarea.form-control { font-family: 'Pangolin', cursive; font-size: 1.5rem }
select.form-control { width: auto; display: inline-block }

h1 {
  font-family: 'Pangolin', cursive;
  margin: 1rem 0;
}
.note-columns {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}
.note {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
.note-body {
  padding: 1rem;
  padding-bottom: 0;
}
.note-footer {
  padding: 1rem;
}
.note-header {
  background-color: rgba(0,0,0,.05);
  height: 4rem;
}

.bg-1 {
  background-color: #fff59b;
}
.bg-2{
  background-color: #f29ec4;
}
.bg-3 {
  background-color: #82d0f5;
}

@media (min-width: 576px) {
  .note-columns .note {
      display: inline-block;
      width: 100%;
  }

  .note-columns .note {
      margin-bottom: .75rem;
  }
}